.home {
  background-color: #000;
  padding: 5rem 0 6rem 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #fff;
}

.home__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1.25rem;
  padding-right: 2.5rem;
}

.home__item {
  display: flex;
  flex-direction: column;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.home__item:hover {
  transform: scale(1.01);
}

.home__image {
  width: 100%;
  height: auto;
  border-radius: 0.25rem 0.25rem 0 0;
}

.home__details {
  padding: 0.625rem;
  color: #fff;
}

.home__title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.home__release-date,
.home__air-date,
.home__rating {
  font-size: 1.25rem;
  margin-bottom: 0.3125rem;
}

.home__overview {
  font-size: 1.25rem;
  line-height: 1.4;
  max-height: 31.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  padding: 15px;
}

.home__pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home__pagination-button:hover {
  background-color: #b2070a;
}

.home__pagination-page {
  margin: 0 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
}

.home__pagination-total-pages {
  padding-right: 0.625rem;
}

.home__details-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home__details-button:hover {
  background-color: #b2070a;
}

@media screen and (max-width: 37.5rem) {
  .home {
    padding: 6.25rem 0;
  }

  .home__list {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }

  .home__item {
    flex-direction: row;
  }

  .home__image {
    width: 6.25rem;
    border-radius: 0.25rem 0 0 0.25rem;
  }

  .home__details {
    padding: 0.625rem;
  }
}

@media screen and (max-width: 48rem) {
  .home {
    padding: 5rem 0;
  }

  .home__list {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }

  .home__item {
    flex-direction: column;
  }

  .home__image {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .home__details {
    padding: 0.625rem;
  }
}



@media screen and (max-width: 30rem) {
  .home__item {
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .home__image {
    width: 100%;
    border-radius: 0;
  }

  .home__details {
    padding: 0.625rem;
  }
}