.search-results {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  padding: 5rem 1.25rem 5rem 1.25rem;
}

.search-results-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.search__details-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search__details-button:hover {
  background-color: #b2070a;
}

.movie-results-list,
.tv-show-results-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  padding-right: 40px;
}

.movie-result-item,
.tv-show-result-item {
  display: flex;
  flex-direction: column;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-result-item:hover,
.tv-show-result-item:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.home__image {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.movie-result-details,
.tv-show-result-details {
  padding: 10px;
  color: #fff;
}

.home__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.home__release-date,
.home__air-date,
.home__rating {
  font-size: 20px;
  margin-bottom: 5px;
}

.home__overview {
  font-size: 20px;
  line-height: 1.4;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
}

.home__pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home__pagination-button:hover {
  background-color: #111;
}

.home__pagination-page {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .search-results {
    padding: 100px 0 100px 0;
  }

  .movie-result-item,
  .tv-show-result-item {
    flex-direction: row;
  }

  .home__image {
    width: 100px;
    border-radius: 4px 0 0 4px;
  }

  .movie-result-details,
  .tv-show-result-details {
    padding: 10px 10px 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .search-results {
    padding: 80px 0 150px 0;
  }

  .movie-results-list,
  .tv-show-results-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .movie-result-item,
  .tv-show-result-item {
    flex-direction: column;
  }

  .home__image {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  .movie-result-details,
  .tv-show-result-details {
    padding: 10px;
  }
}