/* CastDetails.css */

.cast-details {
  display: flex;
  align-items: flex-start;
  padding: 30px 20px;
}

.cast-details__header {
  margin-right: 20px;
}

.cast-details__profile-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.cast-details__content {
  flex-grow: 1;
}

.cast-details__name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cast-details__biography {
  font-size: 20px;
  margin-bottom: 10px;
}

/* CastDetails.css */

.cast-details {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.cast-details__header {
  margin-right: 20px;
}

.cast-details__profile-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.cast-details__content {
  flex-grow: 1;
}

.cast-details__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cast-details__biography {
  font-size: 16px;
  margin-bottom: 10px;
}

.cast-details__known-for {
  margin-top: 20px;
}

.cast-details__known-for-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cast-details__known-for-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.cast-details__known-for-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-details__known-for-movie-poster {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
}

.cast-details__known-for-movie-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cast-details__known-for-movie-button {
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cast-details__loading {
  font-size: 18px;
  font-weight: bold;
}

.cast-details__error {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.cast-details__known-for-movie-details {
  display: flex;
  flex-direction: column;
}

.cast-details__known-for {
  margin-top: 80px;
}

.cast-details__known-for-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cast-details__known-for-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.cast-details__known-for-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-details__known-for-movie-poster {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
}

.cast-details__known-for-movie-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cast-details__known-for-movie-button {
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cast-details__loading {
  font-size: 18px;
  font-weight: bold;
}

.cast-details__error {
  font-size: 18px;
  color: red;
  font-weight: bold;
}