/* Update the background color */
.movie-details {
  background-color: #000;
}

/* Adjust the container styles */
.movie-details__container {
  padding: 2.5rem;
  margin: 2.5rem;
  background-color: #111;
  border-radius: 0.625rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.3);
}

/* Style the movie title */
.movie-details__title {
  margin-bottom: 1.5rem;
  color: #fff;
}

/* Style the movie overview */
.movie-details__overview {
  margin-bottom: 2rem;
  color: #ccc;
}

/* Style the trailer button */
.trailer-button {
  margin-top: 1.5rem;
}

/* Style the website link */
.movie-details__website-link {
  color: #fff;
  font-weight: bold;
}

/* Style the social media icons */
.movie-details__social-media-link {
  color: #fff;
  font-size: 1.5rem;
}

/* Style the cast images */
.movie-details__cast-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

/* Style the cast image name */
.movie-details__cast-image-name {
  margin-top: 0.625rem;
  color: #fff;
}

/* Add hover effect to cast images */
.movie-details__cast-image:hover .movie-details__cast-image-poster {
  transform: scale(1.05);
}

/* Responsive styles */
@media screen and (max-width: 37.5rem) {
  .movie-details__container {
    margin: 1.5rem;
  }
}

@media screen and (max-width: 56.25rem) {
  .movie-details__cast-image {
    width: 50%;
    max-width: 12.5rem;
  }

  .movie-details__cast-image-button {
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    margin-top: 0.8rem;
  }
}